## String Data Type in Python

In [ ]:
# Boundry
# ' string text ', " string text ", ''' string text ''', """ string text """

name : str = "ali"
fName : str = "khan"

print(name)

#### Convert any special charecter into simple charecter, place \ before charecter

In [ ]:
message: str = 'hello my father\'s name is '
print(message)

string ke sath number concatenate nahi hosakta python me number ko string me convert karna pare ga concatenate kare ke liye or agarhum multyline line string likh rahe hen or space ke liye humar ko \ ka use karna padega agar nahi karto to wo os ko new line con

In [ ]:
name : str = "Rafay"
fName : str = "Maqbool"
age : int = 19
education : str = "FSC"
Info : str = "Student Info\n" + "Name: " + name +\
"\nAge: " + str(age)
print(Info)

## Define Multyline String

In [ ]:
name : str = "Rafay"
fName : str = "Maqbool"
age : int = 19
education : str = "FSC"

info : str = """ 
PIAIC Student Card 
Student Name : ....
Father Name : ....
 """
print(info)

### Using % Operator (Old-Style String Formatting)

In [ ]:

name : str = "Rafay"
fName : str = "Maqbool"
age : int = 19
education : str = "Cloud applide Genrative AI"

info : str = '''
PIAIC Student Card 
Student Name : %s
Father Name : %s
Student Age : %d
Student Education : %s
 ''' %(name, fName, age, education)
print(info)

### Using Named Placeholders in str.format()

In [ ]:
name = "Rafay"
fName = "Maqbool"
age = 19

info = "PIAIC Student Card\nStudent Name: {student_name}\nFather Name: {father_name}\nStudent Age: {student_age}".format(student_name=name, father_name=fName, student_age=age)

print(info)

# F-String Python

In [ ]:
name : str = "Rafay"
fName : str = "Maqbool"
age : int = 19
education : str = "FSC"

info : str = f""" 
PIAIC Student Card 
Student Name : {name}
Father Name : {fName}
Student Age : {age}
 """
print(info)

In [ ]:

name : str = "Rafay"
fName : str = "Maqbool"
age : int = 19
education : str = "FSC"

info : str = f'''
PIAIC Student Card 
Student Name : {name}
Father Name : {fName}
Student Age : {age}
 '''
print(info)

In [ ]:
# name : str = "Rafay"
# fName : str = "Maqbool"
# age : int = 19
# education : str = "FSC"

# info : str = $` 
# PIAIC Student Card 
# Student Name : {name}
# Father Name : {fName}
# Student Age : {age}
#  `
# print(info) # Error

## F-String and Jinja Style

In [ ]:
# Jinja Style 
"""
Name {{name}} 
"""

## String Methods

In [ ]:
name : str = "ShaYaN"
print(name.capitalize()) 
print(name.upper()) 
print(name.lower())

In [ ]:
# # Syntax 1
# x : int = 8
# y : int = 21

# # {} place holder  
# # index        0                    1          0  1
# "value of a = { } and value of b = { }".format(x, y)

# Syntax 2
"value of a = {a} and value of b = {b}".format(a = 1, b = 4)

In [ ]:

name : str = "Rafay"
fName : str = "Maqbool"
age : int = 19
education : str = "FSC"

info : str = '''
PIAIC Student Card 
Student Name : {0}
Father Name : {1}
Student Age : {3}
Student Education : {2}
 '''.format(name, fName, education, age)
 #           0      1         2      3 
print(info)

In [ ]:

name : str = "Rafay"
fName : str = "Maqbool"
age : int = 19
education : str = "FSC"

info : str = '''
PIAIC Student Card 
Student Name : {a}
Father Name : {b}
Student Age : {c}
Student Education : {d}
 '''.format(a=name, b=fName, c=education, d=age)
 
print(info)

In [ ]:
student_code : str = """

print("My Name is Muhammad Qasim");
a:int = 6
b: int = 8

print(a + b);

"""
exec(student_code)

### Explore String methods and attributes

Pre-define global | function we have used
* print
* type
* id
* dir 
* len

In [1]:
name : str = "MUhammAd QasIm"
display(name.casefold())

'muhammad qasim'

In [2]:
name : str = "    MUhammAd QasIm      "
display(name.lstrip())
display(name.rstrip())
display(name.strip())

'MUhammAd QasIm      '

'    MUhammAd QasIm'

'MUhammAd QasIm'

In [3]:
import re 

name : str = "    MUhammAd   QasIm      "

print(name)


name1 : str = (re.sub(' {2,100}',' ',name).strip()).capitalize()

display(name1)
print(name1)

    MUhammAd   QasIm

'Muhammad qasim'

Muhammad qasim