# List 
* itretion operation with loop
* apply any operation on element

In [ ]:
names : list[str] = ['Sir Zia', 'Sir Qasim', 'Dr Noman']
print(names)

###### Tuple ek immutable data structure hai Python mein, jo ordered sequence of elements ko store karta hai. Ye list ki tarah hota hai, lekin tuples ko modify nahi kiya ja sakta, yani ke aap ek baar tuple ko create karne ke baad uske elements ko change, add, ya remove nahi kar sakte. Tuples ko parentheses () ke andar likha jaata hai.

* Immutable: Tuple banne ke baad uske elements ko change nahi kiya ja sakta.
* Ordered: Tuples me elements ka ek specific order hota hai, aur ye index-based hota hai.
* Heterogeneous: Tuple me different data types ke elements ho sakte hain.
* Hashable: Tuples ko keys ke taur par dictionaries me use kiya ja sakta hai.

In [ ]:
names : tuple[str] = ('A', 'B', 'C', 'D')

names : tuple[str] = ('Pakistan', 'A', 'B', 'C', 'D')  # re-asignable

In [ ]:
names : tuple[str] = ('A', 'B', 'C', 'D')

names[0] = "Pakistan"

In [121]:
from typing import Any

data : tuple[Any] = ('A', [1, 2, 3], True)
print(data)

('A', [1, 2, 3], True)

#### Single Element Tuple

* Ye tuple ek single element rakhta hai, aur comma , single element tuple me zaroori hai taake Python ko pata chale ye tuple hai na ke expression.

In [ ]:
single_element : tuple[int] = (42,)

#### Tuple ke Andar List
* Aap tuple me list ko rakh sakte hain. Yeh useful hota hai jab aapko tuple ki immutability aur list ki mutability ka combination chahiye.

In [ ]:
# Define a tuple with lists as elements
my_tuple = ([1, 2, 3], [4, 5, 6], [7, 8, 9])

# Accessing elements
print(my_tuple[0])  # Output: [1, 2, 3]
print(my_tuple[1])  # Output: [4, 5, 6]

# Accessing a list inside the tuple and modifying it
my_tuple[0].append(4)
print(my_tuple[0])  # Output: [1, 2, 3, 4]

# Note: You can't change the tuple itself (e.g., add or remove lists), but you can change the lists inside it.

In [ ]:
from typing import Any

data : tuple[Any] = ('A', [1, 2, 3], True)
# data[0].append('b') # error
data[1].append(4)
print(data)

### For Loop

In [ ]:
# for loop structure 

#        local Veriable
# for         xyz            in           ['Sir Zia', 'Sir Qasim', 'Dr Noman']
#             print()

In [ ]:
names : list[str] = ['Sir Zia', 'Sir Qasim', 'Dr Noman']

for name in names :
    print(name)

# Sir Zia
# Sir Qasim
# Dr Noman

In [ ]:
# traditionol method

names = ['Sir Zia', 'Sir Qasim', 'Dr Noman']
i : int = 0

while i<len(names):
    print(names[i])
    i += 1

for `name` in `names` `:` <br>
    print(name)

In [ ]:
names : list[str] = ['Sir Zia', 'Sir Qasim', 'Dr Noman']

for name in names :
    print(f'''Wellcome Dear Teacher {name.title()}''')
    print((f'''PIAIC GENRATIVE AI TEAM\n''').title())
    print((f'''heLLO\n''').title())
print((f'''Yekki''').title())

In [ ]:
data_base: list[tuple[str, str]] = [("ahmed", '123'), ("qasim", '456'), ("bilal", '789')]

for i in data_base:
    user, password = i
    print(user, password)

In [ ]:
data_base: list[tuple[str, str]] = [("ahmed", '123'), ("qasim", '456'), ("bilal", '789')]


input_user : str = input("Enter User Name")
input_password : str = input("Enter User Password")

for i in data_base:
    user, password = i
    if input_user == user and input_password == input_password:
        print("valid user")
        break
else:
    print("Not found or Invalid User")

In [ ]:
data_base: list[tuple[str, str]] = [("ahmed", '123'), ("qasim", '456'), ("bilal", '789')]

for name in data_base:
    print(name)
    break
else :
    print("Hello World")

In [ ]:
data_base: list[tuple[str, str]] = [("ahmed", '123'), ("qasim", '456'), ("bilal", '789')]

for name in data_base:
    print(name)
    break
print("Hello World")

#### Is Behavior Ki Explanation: <br>Variable Scope:

* teacher variable ki scope for loop ke block me aur uske baad bhi accessible hoti hai. Python me, loop ki ending pe last value variable me set rehti hai.
Variable Overwriting:

* Har iteration me teacher variable ki value update hoti hai. Last iteration ke baad, ye variable overwrite nahi hota, isliye last value 'Dr Noman' rehti hai.
Python Ki Behavior:

* Python me for loop ka behavior aisa hai ke variable loop ke baad bhi available hota hai, jo aur programming languages me alag ho sakta hai.

In [ ]:
teachers : list[str] = ['Sir Zia', 'Sir Qasim', 'Dr Noman']
for teacher in teachers:
    print(f"{teacher.title()}, that was a great teacher") 

print(f"{teacher.title()}") # o

### Numbers with loop
* `range(start, end, step)`

* Ye Python me ek built-in function hai jo ek sequence of numbers generate karta hai. Ye sequence iterable hota hai, matlab aap isse loops me iterate kar sakte hain.

#### ` range() Function `
* range() function se aap sequential numbers ki list banate hain, jo iteration ke liye kaam aati hai. Ye bohot useful hota hai jab aapko ek certain range me loop chalani ho.

`range(start, stop, step)`
* start (optional): Sequence ka starting point hai. Default value 0 hai.
* stop (required): Sequence ka end point hai. Ye exclusive hai, matlab ye value include nahi hoti.
* step (optional): Sequence ke beech ke gap ko specify karta hai. Default value 1 hai.

In [ ]:
range(10)

In [ ]:
list(range(10)) # starting = 0

In [ ]:
list(range(2, 10)) # starting = 0, ending = n-1

In [ ]:
list(range(2, 21, 2)) # start se stop - 1 tak step increment

In [ ]:
# for n in range(2, 21, 2):
#     print(f"2 X {round(n/2)} = {n}")
    
    # -------------------
    
for x in range(1, 11, 2):
    print(f"2 X {x} = {x * 2}")

In [ ]:
teachers : list[str] = ['Sir Zia', 'Sir Qasim', 'Dr Noman']

for i in range(len(teachers)):
    print(f"Index {i}: {teachers[i]}")

In [ ]:
#                           0          1            2 
teachers : list[str] = ['Sir Zia', 'Sir Qasim', 'Dr Noman']

for index, name in enumerate(teachers):
    print(index, name)

In [ ]:
squares : list[int] = []

for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

### List Comprehensive

### Normal Loop
```
for item in item_list:
    loop_body
```

### Comprehensive Style
```
[loop_body for item in item_list]
```

In [ ]:
list(range(1,11))

In [ ]:
# normal list
# for i in range(1,11):
#     print(i**2)
    

    # ------------
   
   
 # comprehensive list
    
print([i**2 for i in range(1,11)])

In [1]:
digits : list[int] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
10
1
55

In [2]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_food = my_foods[:] # deep copy

print(my_foods)
print(friend_food)

friend_food[0] = "Tikka"

print(my_foods)
print(friend_food)

['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['Tikka', 'falafel', 'carrot cake']